/* FONTS */
/*Poppins (Regular, Medium, Semi-Bold)*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');


/* ENTIRE BODY OF THE WEBAPP */
body {
    background-color: #E0DCDC;
    margin: 0 auto;
    /*Set margin and padding to 0 to remove Space at the top of the browser.*/
    padding:0;
    /*font used for the body is POPPINS, Default: Sans-Serif in case poppins fails to load*/
    font-family: Poppins, sans-serif;
}

.container {
    max-width:1200px;
    margin:0 auto;
    padding: 0 40px;
}

button:hover {
    cursor:pointer;
} 

/* END OF BODY OF THE WEBAPP */

/* START OF HEADER */

/* LOGO + TITLE*/
.webLogo {
    /*Flex so that items are next to each others*/
    display: flex;
    /* text should be center of logo */
    align-items:center;
    /*to remove the underline*/
    text-decoration:none;
}


/* NAVIGATION BAR */
.main-nav ul {
/*Flex so that items are next to each others*/
display:flex;
margin:0;
padding:0;
/*Removing the unecessary dots of list*/
list-style:none;
    }

.main-nav a:hover {
    color: #2EA5FA;
}

#first-top-btn  {
    margin-left: 0px;
}

#start-bottom-btn {
    margin-left: 0px;
    background-color:#209E64;
}

#pause-bottom-btn {
    background-color:#F25325;
}

#reset-bottom-btn {
    background-color:#FFAB3C;
}



/* MEDIA QUERIES */
/* COMPUTER SCREEN */
@media(min-width: 1220px){
    .webLogo img {
        width:75px;
        height:75px;
    }

    .webName {
        font-weight: 600;
        font-size: 20px;
        line-height: 52px;
        /* Title is linear-gradient */
        background: -webkit-linear-gradient(left, #209E64, #2EA5FA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* Spacing it from our Logo */
        margin-left: 5px;
    }
        /* END OF LOGO + TITLE */

    .main-nav a {
        color:inherit;
        text-decoration: none;
        padding: 37px;
        font-size: 20px;
        font-weight:400;
    }

    .main-header {
        /*Flex so that items are next to each others*/
        display: flex;
        /*Align center*/
        align-items: center;
        /*So that our elements are as far apart as possible*/
        justify-content: space-between;
        height: 140px;
    }
    /* END OF HEADER */

    /*========================*/

    /* BUTTONS TOP */

    .top-section {
        position: absolute;
        width: auto;
        height: auto;
        left: 230px;
        top: 150px;  
    }
    .btn-top {
        color: #E0DCDC;
        font-size: 16px;
        font-weight: 400;
        background-color: #2CA4E2;
        padding: 0.75rem 1.6rem;
        border-radius: 10px;
        text-decoration: none;
        width:270px;
        margin-left:72px;
    }
    /* END OF BUTTONS TOP */

    /*========================*/

    /* TIMER SECTION */
    .timer-section {
        position: absolute;
        width: auto;
        height: 200px;
        left: 470px;
        top: 228px;
        line-height: 180px;
        display:flex;
        align-items: center;
        text-align: center;
    }

    #timer_default {
        font-size: 180px;
        line-height: 180px;
        font-weight: 80;
    }
    /* END TIMER SECTION */

    /*========================*/

    /* BUTTONS BOTTOM */

    .bottom-section {
        position: absolute;
        width: auto;
        height: auto;
        left: 435px;;
        top: 473px;
    }
    .btn-bottom {
        color: #E0DCDC;
        font-size: 16px;
        font-weight: 400;
        background-color: #2CA4E2;
        padding: 0.8rem 1.6rem;
        border-radius: 10px;
        text-decoration: none;
        width:120px;
        margin-left:72px;
    }

    /* BOTTOM PAGE SUCCESS STREAK */
    .successUnlock{
        position: absolute;
        top:560px;
        left: 130px; 
    }
    .successUnlock .tree {
        margin-left:30px
    }
    /* END OF BOTTOM PAGE SUCCESS STREAK */


/* END BUTTONS BOTTOM */
}


/* END OF COMPUTER SCREEN */ 

/*  */
@media(max-width: 1220px){

    .webLogo img {
        width:50px;
        height:50px;
    }

    .webName {
        font-weight: 600;
        font-size: 20px;
        line-height: 52px;
        /* Title is linear-gradient */
        background: -webkit-linear-gradient(left, #209E64, #2EA5FA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* Spacing it from our Logo */
        margin-left: 5px;
    }
        /* END OF LOGO + TITLE */

    .main-nav a {
        color:inherit;
        text-decoration: none;
        padding: 8px;
        font-size: 20px;
        font-weight:400;
    }

    .main-header {
        /*Flex so that items are next to each others*/
        display: flex;
        /*Align center*/
        align-items: center;
        /*So that our elements are as far apart as possible*/
        justify-content: space-between;
        height: 140px;
    }
    /* END OF HEADER */

    /*========================*/

    /* BUTTONS TOP */

    .top-section {
        position: absolute;
        width: auto;
        height: auto;
        left: 300px;
        top: 120px;  
    }
    .btn-top {
        color: #E0DCDC;
        font-size: 16px;
        font-weight: 400;
        background-color: #2CA4E2;
        padding: 0.75rem 1.6rem;
        border-radius: 10px;
        text-decoration: none;
        width:150px;
        margin-left:30px;
    }

    /* END OF BUTTONS TOP */

    /*========================*/

    /* TIMER SECTION */

    .timer-section {
        position: absolute;
        width: auto;
        height: 200px;
        left: 325px;
        top: 228px;
        line-height: 180px;
        display:flex;
        align-items: center;
        text-align: center;
    }

    #timer_default {
        font-size: 180px;
        line-height: 180px;
        font-weight: 80;
    }
    /* END TIMER SECTION */

    /*========================*/

    /* BUTTONS BOTTOM */

    .bottom-section {
        position: absolute;
        width: auto;
        height: auto;
        left: 355px;;
        top: 473px;
    }
    .btn-bottom {
        color: #E0DCDC;
        font-size: 16px;
        font-weight: 400;
        background-color: #2CA4E2;
        padding: 0.8rem 1.6rem;
        border-radius: 10px;
        text-decoration: none;
        width:120px;
        margin-left:30px;
    }
    /* BOTTOM PAGE SUCCESS STREAK */
    .successUnlock{
        position: absolute;
        top:560px;
        left: 120px; 
    }
    .successUnlock .tree {
        margin-left:30px;
        width: 100px;
        height:auto;
    }
    /* END OF BOTTOM PAGE SUCCESS STREAK */

/* END BUTTONS BOTTOM */
}
/* */

/*  */
@media(max-width: 840px){


    .webLogo img {
        width:50px;
        height:50px;
    }

    .webName {
        font-weight: 600;
        font-size: 13px;
        line-height: 52px;
        /* Title is linear-gradient */
        background: -webkit-linear-gradient(left, #209E64, #2EA5FA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* Spacing it from our Logo */
        margin-left: 5px;
    }
        /* END OF LOGO + TITLE */


    .main-nav a {
        color:inherit;
        text-decoration: none;
        padding: 8px;
        font-size: 13px;
        font-weight:400;
    }

    .main-header {
        /*Flex so that items are next to each others*/
        display: flex;
        /*Align center*/
        align-items: center;
        /*So that our elements are as far apart as possible*/
        
        height: 140px;
    }
    /* END OF HEADER */

    /*========================*/

    /* BUTTONS TOP */

    .top-section {
        position: absolute;
        width: auto;
        height: auto;
        left: 150px;
        top: 120px;  
    }
    .btn-top {
        color: #E0DCDC;
        font-size: 16px;
        font-weight: 400;
        background-color: #2CA4E2;
        padding: 0.75rem 1.6rem;
        border-radius: 10px;
        text-decoration: none;
        width:150px;
        margin-left:30px;
    }

    /* END OF BUTTONS TOP */

    /*========================*/

    /* TIMER SECTION */

    .timer-section {
        position: absolute;
        width: auto;
        height: 200px;
        left: 170px;
        top: 228px;
        line-height: 180px;
        display:flex;
        align-items: center;
        text-align: center;
    }

    #timer_default {
        font-size: 180px;
        line-height: 180px;
        font-weight: 80;
    }

    
    /* END TIMER SECTION */

    /*========================*/

    /* BUTTONS BOTTOM */

    .bottom-section {
        position: absolute;
        width: auto;
        height: auto;
        left: 185px;;
        top: 473px;
    }
    .btn-bottom {
        color: #E0DCDC;
        font-size: 16px;
        font-weight: 400;
        background-color: #2CA4E2;
        padding: 0.8rem 1.6rem;
        border-radius: 10px;
        text-decoration: none;
        width:120px;
        margin-left:30px;
    }

/* END BUTTONS BOTTOM */
    /* BOTTOM PAGE SUCCESS STREAK */
    .successUnlock{
        position: absolute;
        top:560px;
        left: 0px; 
    }
    .successUnlock .tree {
        width:100px;
        height:110px;
        margin-left:30px
    }
    /* END OF BOTTOM PAGE SUCCESS STREAK */
}
/* */

/*  */
@media(max-width: 690px){


    .webLogo img {
        width:50px;
        height:50px;
    }

    .webName {
        font-weight: 600;
        font-size: 13px;
        line-height: 52px;
        /* Title is linear-gradient */
        background: -webkit-linear-gradient(left, #209E64, #2EA5FA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* Spacing it from our Logo */
        margin-left: 5px;
    }
        /* END OF LOGO + TITLE */


    .main-nav a {
        color:inherit;
        text-decoration: none;
        padding: 8px;
        font-size: 13px;
        font-weight:400;
    }


    .main-header {
        /*Flex so that items are next to each others*/
        display: flex;
        /*Align center*/
        align-items: center;
        /*So that our elements are as far apart as possible*/
        
        height: 140px;
    }
    /* END OF HEADER */

    /*========================*/

    /* BUTTONS TOP */

    .top-section {
        position: absolute;
        width: auto;
        height: auto;
        left: 50px;
        top: 120px;  
    }
    .btn-top {
        color: #E0DCDC;
        font-size: 16px;
        font-weight: 400;
        background-color: #2CA4E2;
        padding: 0.75rem 1.2rem;
        border-radius: 10px;
        text-decoration: none;
        width:130px;
        margin-left:10px;
    }

    /* END OF BUTTONS TOP */

    /*========================*/

    /* TIMER SECTION */

    .timer-section {
        position: absolute;
        width: auto;
        height: 200px;
        left: 75px;
        top: 228px;
        line-height: 180px;
        display:flex;
        align-items: center;
        text-align: center;
    }

    #timer_default {
        font-size: 140px;
        line-height: 180px;
        font-weight: 80;
    }

    /* END TIMER SECTION */

    /*========================*/

    /* BUTTONS BOTTOM */

    .bottom-section {
        position: absolute;
        width: auto;
        height: auto;
        left: 70px;;
        top: 473px;
    }
    .btn-bottom {
        color: #E0DCDC;
        font-size: 16px;
        font-weight: 400;
        background-color: #2CA4E2;
        padding: 0.8rem 1.2rem;
        border-radius: 10px;
        text-decoration: none;
        width:100px;
        margin-left:30px;
    }
/* END BUTTONS BOTTOM */
/* BOTTOM PAGE SUCCESS STREAK */
    .successUnlock{
        position: absolute;
        top:560px;
        left: 0px; 
    }
    .successUnlock .tree {
        width:120px;
        height:130px;
        margin-left:30px
    }
    /* END OF BOTTOM PAGE SUCCESS STREAK */
}
/* */


@media(max-width: 450px){


    .webLogo img {
        width:50px;
        height:50px;
    }

    .webName {
        font-weight: 600;
        font-size: 20px;
        line-height: 52px;
        /* Title is linear-gradient */
        background: -webkit-linear-gradient(left, #209E64, #2EA5FA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* Spacing it from our Logo */
        margin-left: 5px;
        
    }
        /* END OF LOGO + TITLE */


    .main-nav a {
        color:inherit;
        text-decoration: none;
        padding: 8px;
        font-size: 13px;
        font-weight:400;
    }


    .main-header {
        /*Flex so that items are next to each others*/
        display: flex;
        /*Align center*/
        align-items: center;
        /*So that our elements are as far apart as possible*/
        height: 140px;
    }
    /* END OF HEADER */

    /*========================*/

    /* BUTTONS TOP */

    .top-section {
        position: absolute;
        width: auto;
        height: auto;
        left: 20px;
        top: 120px;  
    }
    .btn-top {
        color: #E0DCDC;
        font-size: 15px;
        font-weight: 400;
        background-color: #2CA4E2;
        padding: 0.75rem 1.2rem;
        border-radius: 10px;
        text-decoration: none;
        width:120px;
        margin-left:2px;
    }
    #first-top-btn  {
        margin-left: 0px;
    }

    /* END OF BUTTONS TOP */

    /*========================*/

    /* TIMER SECTION */

    .timer-section {
        position: absolute;
        width: auto;
        height: 200px;
        left: 35px;
        top: 180px;
        line-height: 180px;
        display:flex;
        align-items: center;
        text-align: center;
    }

    #timer_default {
        font-size: 140px;
        line-height: 180px;
        font-weight: 80;
    }

    /* END TIMER SECTION */

    /*========================*/

    /* BUTTONS BOTTOM */

    .bottom-section {
        position: absolute;
        width: auto;
        height: auto;
        left: 25px;;
        top: 370px;
    }
    .btn-bottom {
        align-items: center;
        color: #E0DCDC;
        font-size: 15px;
        font-weight: 400;
        background-color: #2CA4E2;
        padding: 0.8rem 1.2rem;
        border-radius: 10px;
        text-decoration: none;
        width:100px;
        margin-left:30px;
    }
/* END BUTTONS BOTTOM */
/* BOTTOM PAGE SUCCESS STREAK */
    .successUnlock{
        position: absolute;
        top:440px;
        left: -15px; 
    }
    .successUnlock .tree {
        width:100px;
        height:110px;
        margin-left:30px
    }
    /* END OF BOTTOM PAGE SUCCESS STREAK */
}
/* */

